---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
const blogEntries = await getCollection("blogs");
const base = import.meta.env.PUBLIC_BASE_PATH;
const isDocker = import.meta.env.PUBLIC_IS_DOCKER === "true";
const cards = blogEntries.map((item) => ({
  body: item.data.date,
  href: (isDocker ? "" : base) + "/" + item.slug,
  title: item.data.title,
}));
console.log(cards);
---

<Layout title="code-snippet" desc="code-snippet for font-end developer.">
  <div>
    <h1 class="text-center text-2xl font-bold mt-10 md:text-6xl">Code Snippet</h1>
    {
      cards.map((item) => (
        <div>
          <div class="my-10">
            <Card {...item} />
          </div>
        </div>
      ))
    }
  </div>
</Layout>
