---

---

<div class="footer text-center">
  This blog is built by
  <a
    class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605] astro-NN4HBN47"
    href="https://github.com/laoer536"
    target="_blank">© LIU JIE 2023</a
  >.
</div>
